body
{
  background-color: #fafafa;
  margin: 0;
}

.banner
{
  background: #f0f9ff;
  min-height:200px;
}

.banner h1
{
  color: #000000;
}

.content-center
{
  text-align: center;
  margin: auto;
  padding: 60px;
  width: 50%;
}
